<div id="wrapper">
	<div id="header-wrapper">
		<div id="header">
			<div id="logo">
				<h1><a href="#">Ankh-Morpork Assassins' Guild</a></h1>
				<p>Nil Mortifi Sine Lucre<a href="http://www.freecsstemplates.org/"></a></p>
			</div>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
			<li><a href="index.php">Homepage</a></li>
			<li><a href="login.php">Log&nbsp;&nbsp;In</a></li>
			<li class="current_page_item"><a href="#">About</a></li>
			<li><a href="hire.php">Hire&nbsp;&nbsp;Us</a></li>
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="page-bgtop">
			<div id="page-bgbtm">
				<div id="content">
				  <div class="post">
					  <h2 class="title"><a href="#">About the Ankh-Morpork Guild of Assassins</a></h2>
						<div class="entry">
                          <p>We provide
                            discrete, professional inhumations of troublesome individuals, for a minor monetary consideration. If you find that the flower of your life is overburdened with thorns, make us an offer to do some pruning!				      </p>
					  </div>
					</div>
				  <div class="post">
					  <h2 class="title"><a href="#">Unlisted Clients</a></h2>
						<div class="entry">
                          <p>There are those client who, for one reason or another, we will not accept contracts on. The following individuals are officially Unlisted:</p>
                          <ul>
                          <!--<?php
						  $results = unlisted_clients();
						  foreach ($results as $client)
						  {
							  $name = $client["Client"];
							  echo "<li>$name</li>";
						  }
						  ?>-->
                          </ul>
					  </div>
					</div>
				  <div class="post">
					  <h2 class="title"><a href="#">History of the Ankh-Morpork Guild of Assassins</a></h2>
						<div class="entry">
                          <p>The Assassins' Guild was founded on 27 August AM1512 by Sir Gyles de Munforte as the <em>de Munforte School for Gentlemen Assassins</em>. Sir Gyles was a warrior knight who, during his crusades in Klatch,   was intrigued by the Klatchian tradition of professional gentleman   assassins, and decided to set up a similar organisation at home, only   without the drugs. In AM1576 the school was elevated to the status of a Guild and the name was changed to the <em>Royal Guild of Assassins</em>.   The 'Royal' was dropped after the 'events' of AM1688 (i.e. the   Ankh-Morpork Civil War, as a result of which the monarchy was   overthrown). For more information, please see our <a href="http://en.wikipedia.org/wiki/Ankh-Morpork_Assassins%27_Guild" title="Ankh-Morpork's Assassins' Guild">Wikipedia page</a>, from which this brief history was shamelessly copied.</p>
					  </div>
				  </div>
				</div>
				<!-- end #content -->
				<div id="sidebar">
				</div>
				<!-- end #sidebar -->
				<div style="clear: both;">&nbsp;</div>
			</div>
		</div>
	</div>
	<!-- end #page -->
</div>